# Base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lego_shop

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lego_shop

# GITHUB 
GITHUB_ID=your_github_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# GOOGLE
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# NEXTAUTH
NEXTAUTH_SECRET=your_nextauth_secret

# FIREBASE
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_APP_ID=your_firebase_app_id

# STRIPE
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret